@import "https://fonts.googleapis.com/css2?family=Alkalami&family=Bungee+Spice&family=Silkscreen&display=swap";

#home {
  /* background-image: url("./images/bgpic.png");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-attachment: scroll, fixed;
  background-position: center;
  background-position-y: top; */
  height:85vh;
  width: 50vw;
  display: block;
  margin-left: 25vw;
  margin-top: 10vh;
  /* letter-spacing: 0.3rem;
  word-spacing: 0.7rem; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#home div {
  font-size: 100%;
  display: block;
  width: 90%;
  margin: 2.5%;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

#home h3 {
  font-size: 100%;
  display: block;
  width: 90%;
  margin: 2.5%;
  text-align: center;
}

#home img {
  width: 30vw;
  margin: 5%;
  border-radius: 20%;
  margin-left: 5vw;
}

#home p {
  font-size: 90%;
  margin: 2.5rem;
  display: block;
  font-family: "Silkscreen", cursive;
}
